@model EcommSale.Models.Product
@{
	ViewData["Title"] = "Details";
}
@using EcommSale.Data
@using EcommSale.Utilities
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor
@{
	List<CartItemVm> cartItems = HttpContextAccessor.HttpContext.Session.Get<List<CartItemVm>>("cartItems");
	CartItemVm cartItem = null;
	if (cartItems != null)
	{
		cartItem = cartItems.FirstOrDefault(c => c.Product.ProductID == Model.ProductID);
	}
}
<h1>@ViewBag.Test</h1>
<br />
@if (!string.IsNullOrEmpty(ViewBag.ErrorStock))
{
	<div class="alert alert-danger">@ViewBag.ErrorStock</div>
}

<h2 class="text-black">@Model.ProductName</h2>
<form asp-action="Details" method="post" enctype="multipart/form-data">
	<div class="p-4 rounded border row text-black fw-bold">
		<div asp-validation-summary="ModelOnly" class="text-danger">
		</div>
		<input type="hidden" id="stockQuantity" value="@Model.ProductCount" />

		<div class="col-8">
			<div class="mb-3 row">
				<div class="col-4">
					<label asp-for="ProductName">Product Name</label>
				</div>
				<div class="col-8">
					<input type="hidden" asp-for="ProductID" />
					<input asp-for="ProductName" readonly="readonly" class="form-control" />
				</div>
				<span asp-validation-for="ProductName" class="text-danger"></span>
			</div>
			<div class="mb-3 row">
				<div class="col-4">
					<label asp-for="Price"></label>
				</div>
				<div class="col-8">
					<input readonly="readonly" class="form-control" value="@string.Format("{0:N0} VND", Model.Price)" />
				</div>
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="mb-3 row">
				<div class="col-4">
					<label asp-for="ProductColor">Color</label>
				</div>
				<div class="col-8">
					<input asp-for="ProductColor" readonly="readonly" class="form-control" />
				</div>
			</div>
			<div class="mb-3 row">
				<div class="col-4">
					<label asp-for="CategoryID"></label>
				</div>
				<div class="col-8">
					<select class="form-control" disabled>
						<option value="@Model.CategoryID">@Model.Category.CategoryName</option>
					</select>
				</div>
				<span asp-validation-for="CategoryID" class="text-danger"></span>
			</div>
			<div class="mb-3 row">
				<div class="col-4">
					<label asp-for="BrandID">Brand</label>
				</div>
				<div class="col-8">
					<select class="form-control" disabled>
						<option value="@Model.BrandID">@Model.Brand.BrandName</option>
					</select>
				</div>
				<span asp-validation-for="BrandID" class="text-danger"></span>
			</div>
			<div class="mb-3 row">
				<div class="col-4">
				</div>
				<div class="col-8">
					<div class="input-group">
						@if (Model.IsAvailable && User.Identity.IsAuthenticated && Model.ProductCount > 0)
						{
							<input id="bt_add" type="submit" class="btn yellow-shop form-control fw-bold border" value="Add to Cart" style="margin-right: 5px" />
							<span class="input-group-btn">
								<button id="bt_inc_dec" type="button" class="btn yellow-shop form-control border" onclick="decreaseQuantity()">-</button>
							</span>
							<input type="number" id="quantity" name="quantity" value="1" min="1" style="width: 45px;" />
							<span class="input-group-btn">
								<button id="bt_inc_dec" type="button" class="btn yellow-shop form-control border" onclick="increaseQuantity()">+</button>
							</span>
						}
						else
						{
							<input type="submit" class="btn yellow-shop form-control fw-bold border" value="Add to Cart" style="margin-right: 5px" disabled />
							<span class="input-group-btn">
								<button type="button" class="btn yellow-shop form-control border" disabled>-</button>
							</span>
							<input type="number" value="1" min="1" style="width: 45px;" disabled />
							<span class="input-group-btn">
								<button type="button" class="btn yellow-shop form-control border" disabled>+</button>
							</span>
						}
					</div>
				</div>
			</div>
			<div class="mb-3">
				<a asp-action="Index" class="btn btn-danger">Back to List</a>
			</div>
		</div>
		<div class="col-1"></div>
		<div class="col-3">
			<img src="~/@Model.Image" width="100%" class="image_prod" />
			@if (Model.IsAvailable && Model.ProductCount > 0)
			{
				<h5 class="text-success">Available</h5>
			}
			else if (Model.IsAvailable && Model.ProductCount <= 0)
			{
				<h5 class="text-danger">Out of stock</h5>
			}
			else
			{
				<h5 class="text-danger">Coming soon</h5>
			}
		</div>

	</div>
</form>

<!-- Similar product section -->
<br />
<h3 class="text-black">Similar products</h3>
<div id="similar-products-container">
	<!-- Load danh sách sản phẩm tương tự ở đây bằng AJAX -->
</div>

<!-- Comment section -->
<div class="mt-3">
	<h3 class="text-black">Comment section</h3>
	<!-- Comment form -->
	<div class="mt-3">
		<form asp-action="AddComment" method="post">
			<input type="hidden" name="productId" value="@Model.ProductID" />
			<div class="form-group">
				<textarea class="form-control" id="content" name="content" rows="3" required placeholder="Add a comment..." style="resize: none; overflow-y: hidden;"></textarea>
			</div>
			@if(User.Identity.IsAuthenticated)
			{
				<div class="text-end mb-2 mt-2">
					<button type="button" class="btn btn-red mr-2" id="cancelComment">Cancel</button>
					<button type="submit" class="btn btn-yellow" id="submitComment" @(ViewBag.CanComment ? "" : "disabled")>Comment</button>
				</div>
			}
			else
			{
				<div class="text-end mb-2 mt-2">
					<button type="button" class="btn btn-red mr-2" disabled>Cancel</button>
					<button type="submit" class="btn btn-yellow" disabled>Comment</button>
				</div>
			}
		</form>
	</div>

	@{
		// Check if a comment was successfully posted
		bool commentPosted = TempData["CommentPosted"] as bool? ?? false;
		if (commentPosted)
		{
			// Clear the textarea content using JavaScript
			<text>
				<script>
					document.getElementById("content").value = "";
				</script>
			</text>
		}
	}

	<!-- Comment list -->
	 <div class="mt-3">
		@foreach (var comment in ViewBag.Comments)
		{
			<div class="card mb-2 comment">
				<div class="card-body d-flex justify-content-between align-items-start">
					<div>
						<h5 class="card-title">@comment.CommenterName</h5>
						<p class="card-text">@comment.Content</p>
						<small class="text-muted">@comment.PostedDate.ToString("dd/MM/yyyy hh:mm tt")</small>
					</div>
					<div class="dropstart">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton-@comment.CommentID" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa-solid fa-ellipsis-vertical"></i>
						</button>
						@if (User.IsInRole("Admin") || comment.CommenterID == User.FindFirst(ClaimTypes.NameIdentifier)?.Value)
						{
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-@comment.CommentID">
								<li>
									<form asp-action="deletecomment" asp-route-commentID="@comment.CommentID" method="post">
										<button type="submit" class="dropdown-item">Delete comment</button>
									</form>
								</li>
							</ul>
						}
						<!-- other options -->
					</div>
				</div>
			</div>
		}
	</div> 
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}

	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
	<script type="text/javascript">
		$(function () {
			var msgEM = '@TempData["ErrorMessage"]'
			var msgSM = '@TempData["SuccessMessage"]'
			var msgDM = '@TempData["DeleteMessage"]'
			if (msgEM) {
				alertify.success(msgEM);
			}
			else if (msgSM) {
				alertify.success(msgSM);
			}
			else if (msgDM) {
				alertify.error(msgDM);
			}
		})
	</script>

	<script>
		function decreaseQuantity() {
			var quantity = document.getElementById("quantity");
			var currentValue = parseInt(quantity.value);
			if (currentValue > 1) {
				quantity.value = currentValue - 1;
			}
		}

		function increaseQuantity() {
			var quantity = document.getElementById("quantity");
			var stockQuantity = parseInt(document.getElementById("stockQuantity").value);
			var currentValue = parseInt(quantity.value);
			if (currentValue < stockQuantity && currentValue < 50) {
				quantity.value = currentValue + 1;
			}
		}
	</script>
	<script>
		// JavaScript to clear and unfocus the textarea when Cancel button is clicked
		document.getElementById('cancelComment').addEventListener('click', function () {
			document.getElementById('content').value = ''; // Clear the textarea
			document.getElementById('content').style.height = 'auto'; // Reset textarea height
			document.getElementById('content').blur(); // Unfocus the textarea
		});

		// JavaScript to adjust the height of the textarea based on the number of rows
		document.getElementById('content').addEventListener('input', function () {
			var textarea = this;
			setTimeout(function () {
				textarea.style.height = 'auto';
				textarea.style.height = textarea.scrollHeight + 'px';
			}, 0);
		});
	</script>
	<script>
		$(document).ready(function () {
			var productId = @Model.ProductID; // ID của sản phẩm hiện tại
			var url = '@Url.Action("SimilarProducts", "Home")' + '?productId=' + productId;
			$.ajax({
				url: url,
				type: "GET",
				success: function (data) {
					$("#similar-products-container").html(data);
				}
			});
		});
	</script>
}